sendmessage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sendmessage</title>
    <script src="/static/jquery-1.8.3.min.js"></script>
    <script> 
        $(document).ready(function(){
            $("#recivername").change(function(){
            var userid=$("#recivername").val();
            $.ajax({
                url:"{% url 'checkuser' %}",
                data:{'uid':userid},
                success:function(data)
                {
                    if (data.valid !="exist")
                    {
                        alert("username not fount");
                    }
                }
            })
            })
        })
    </script>
</head>
<body>
    <form action="{% url 'sendmessageaction' %}" method="post">
        {% csrf_token %}
        <table>

            <tr>
                <th>reciver(username)</th>
                <td><input type="text" name="recivername" id="recivername" ></td>
            </tr>
            <tr>
                <th>subject</th>
                <td><input type="text" name="subject"></td>
            </tr>
            <tr>
                <th>message</th>
                <td><input type="text" name="message"></td>
            </tr>
            <tr>
                <th></th>
                <td> <input type="submit" value="send"></td>
            </tr>
        </table>
    </form>  
</body>
{% if messages %}
{% for msg in messages %}
<script>
  alert('{{msg}}')
</script>
{% endfor %}
{% endif %}
</html>